INTERNAL_NETWORK_SUBNET='10.10.40.0/24'
#executor parameters
#possible values for channelt type: 'tcp' or 'vsock' - used by both executor and manager
CHANNEL_TYPE='tcp'
#used only if CHANNEL_TYPE is 'vsock' - this is the external CID (manager side) - the internal one (executor side) is always 3
CHANNEL_VSOCK_CID='20'
#used only if CHANNEL_TYPE is 'tcp' - used by both executor and manager
EXECUTOR_IP_ADDRESS='10.10.40.10'
#used for both tcp and vsock - used by both executor and manager
EXECUTOR_PORT='8080'
EXECUTOR_KEYSET_RECOVERY_TYPE='0'
EXECUTOR_FUEL_PRICE_PER_UNIT='1'
EXECUTOR_MIN_FEE_PER_REQUEST='5'
EXECUTOR_LOG_CONSOLE='true'
EXECUTOR_LOG_CONSOLE_LEVEL='info'
EXECUTOR_LOG_CONSOLE_COLOR='false'
EXECUTOR_LOG_FILE_NAME=''
EXECUTOR_LOG_FILE_LEVEL='info'

#manager parameters
#ignored if CHANNEL_TYPE is 'vsock'
MANAGER_IP_ADDRESS='10.10.40.20'
MANAGER_KEY_SECP256='0000000000000000000000000000000000000000000000000000000000000000'
MANAGER_DATA_FOLDER='./manager_data'
MANAGER_INPUT_WASMS='./input_wasms'

# Set explicitly to empty string for disabling the feature of saving reports to file system
MANAGER_REPORTS_FOLDER='./manager_data'
#authorityservice parameters
AUTHORITY_SERVICE_IP_ADDRESS='10.10.40.40'
AUTHORITY_SERVICE_LISTEN_ADDRESS=':8081'
AUTHORITY_SERVICE_CHAIN_ID='31337'
AUTHORITY_SERVICE_NONCE_TTL='300'
AUTHORITY_SERVICE_KEY_SECP256=''

MANAGER_LOG_KIND='zerolog'
MANAGER_LOG_CONSOLE='true'
MANAGER_LOG_CONSOLE_LEVEL='info'
MANAGER_LOG_CONSOLE_COLOR='false'
MANAGER_LOG_FILE_NAME=''
MANAGER_LOG_FILE_LEVEL='info'

#chain parameters
#possible values for protocol: http or https
CHAIN_RPC_PROTOCOL='http'
CHAIN_RPC_ADDRESS='10.10.40.30'
CHAIN_RPC_PORT='8545'
#chain contracts
CHAIN_PROCESSOR_ADDRESS='0x0000000000000000000000000000000000000000'
CHAIN_TEEAUTHENTICATOR_ADDRESS='0x0000000000000000000000000000000000000000'
# BlockchainPollingInterval is the interval in seconds at which to poll the blockchain for new requests
BLOCKCHAIN_POLLING_INTERVAL='5'
# ReorgTimeout is the max time interval for waiting for a reorg to be resolved (in seconds)
REORG_TIMEOUT='180'
# HandshakeTimeout is the max time interval for waiting for the executor handshake to be completed (in seconds)
HANDSHAKE_TIMEOUT='5'
