#----------- Properties used for deployAll.ts -------------------------

NETWORK=
#identifier of the address deployer of the contracts (must have ETH to pay the tx fees)
MNEMONIC=
PRIVATE_KEY=
#admin address allowed to change the min fee per request parameter and the queue threeshold on the ProcessorEndpoint contract
ADMIN=

#PCR0 of the Nitro application
TEE_PCR0=
#Max age for considering the Nitro attestation document valid
TEE_MAX_VERIFICATION_AGE=3000000000000000000

#Address of the manager allowed to post attestations (printend by the manager after the first key handshake)
UPDATE_STATUS_OPERATOR=
#Minimum fee per request (in wei)
MIN_FEE_PER_REQUEST=10

#------------  Additional properties used for registering an attestation document -------------------------

#attestation hex. must be generated in the manager with a command like this:
#./attestation -cid 20 -port 4001 -servertype "vsocket"
ATTESTATION_BASE64=
#Exising TeeAuthenticator contract address
TEE_AUTH_ADDRESS=

